<head>
<style>
	input { display:block; }
</style>
</head>

<h2>html form</h2>

<form action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
	
	<label for="username">username:</label>
	<input type="text" 			name="user[username]" id="username">
	
	<label for="email">email:</label>
	<input type="text" 			name="user[email]" 		id="email">
	
	<label for="password">password:</label>
	<input type="password" 	name="user[password]" id="password">
	
	<input type="submit" value="submit">
</form>