<head>
<style>
	input { 
		display: block;	
		margin-bottom: 20px;
	}
</style>
</head>

<h1>NEW view</h1>
<form action="/users" method="post" accept-charset="UTF-8">

	<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

	<label for="username">Username:</label> 							
	<input 	type=	"text" 			
					name=	"user[username]"		
					id=		"username"
					value="user4">

	<label for="email">Email:</label>									
	<input 	type=	"email" 		
					name=	"user[email]"			
					id=		"email"
					value="user4@user.us">

<!-- <div>	
	<label for="password">Password:</label>
	<input 	type=	"password"	
					name=	"password"		
					id=		"password"
					value="foobar">

	<label for="password_confirmation">Password confirmation:</label>
	<input 	type=	"password"	
					name=	"password_confirmation" 
					id=		"password_confirmation"
					value="foobar">
</div> -->

	<input type="submit" value="submit">
</form>